@import "tailwindcss";

@theme {
  --color-deep-green: #173836;
  --color-mapl-black: #333;
  --color-mapl-slate: #ddd;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
    monospace;
}
