@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@theme {
  --color-deep-green: #173836;
  --color-mapl-black: #333;
  --color-mapl-slate: #ddd;
}

body {
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  font-weight: normal;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "source-code-pro", "Menlo", "Monaco", "Consolas", "Courier New",
    monospace;
}

.dashboard-main-content::-webkit-scrollbar,
.dashboard-sub-content::-webkit-scrollbar {
  width: 4px;
}

.dashboard-main-content::-webkit-scrollbar-thumb,
.dashboard-sub-content::-webkit-scrollbar-thumb {
  background-color: #173836;
  border-radius: 10px;
}

/* Recharts PieChart focus outline 제거 */
.recharts-sector:focus,
.recharts-surface:focus {
  outline: none;
}
